<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Language Learning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.min.css') }}" />
    <style>
      :root {
        --uk-offcanvas-bar-width: 100vw;
        --uk-offcanvas-bar-width-i: -100vw;
      }
    </style>
    
    <script>
      const htmlElement = document.documentElement;
    
      const __FRANKEN__ = JSON.parse(
        localStorage.getItem("__FRANKEN__") || "{}",
      );
    
      if (
        __FRANKEN__.mode === "dark" ||
        (!__FRANKEN__.mode &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        htmlElement.classList.add("dark");
      } else {
        htmlElement.classList.remove("dark");
      }
    
      htmlElement.classList.add(__FRANKEN__.theme || "uk-theme-neutral");
      htmlElement.classList.add(__FRANKEN__.radii || "uk-radii-md");
      htmlElement.classList.add(__FRANKEN__.shadows || "uk-shadows-sm");
      htmlElement.classList.add(__FRANKEN__.font || "uk-font-sm");
    </script>

    <script src="{{ url_for('static', filename='js/core.iife.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/icon.iife.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>

    <script>
      function insertElement(parent_id, sibling_id, ele_html) {
        // Get the sibling element
        if (sibling_id) {
          const sibling = document.getElementById(sibling_id);
          if (!sibling) {
            return;
          }
          sibling.insertAdjacentHTML("afterend", ele_html);
        } else {
          const parent = document.getElementById(parent_id);
          if (!parent) {
            return;
          }
          parent.insertAdjacentHTML("afterbegin", ele_html);
        }
      }

      function updateElement(id, ele_html) {
        const element = document.getElementById(id);
        element.outerHTML = ele_html;
      }

      function removeElement(id) {
        const element = document.getElementById(id);
        element.remove();
      }

      // const socket = io({ autoConnect: false });
      // socket.connect();

      const socket = io();

      socket.on("exec_js", function (code) {
        eval(code);
        // document.getElementById('content').insertAdjacentHTML('afterend', data);
      });

      let tts = null;
      
      socket.on('play', function (str) {
        tts = new Audio(str);
        tts.play();
      });

      socket.on('rewind', function () {
        tts.pause()
        tts.currentTime -= 1;
        tts.play()
      });

      window.onbeforeunload = function() {
        return "You would lose the state!";
      }
    </script>
  </head>
  <body id="main-body" class="bg-background font-geist-sans text-foreground antialiased">
    <!-- Language selectors -->
    <div>
      <div class="uk-container uk-container-xs py-3 flex justify-between">
        <h1 class="uk-h1">Langly</h1>
        <span class="flex justify-end gap-2">
          <a class="uk-btn uk-btn-sm uk-btn-ghost uk-btn-icon" href="#modal-sections" data-uk-toggle><uk-icon icon="circle-question-mark"></uk-icon></a>
          <a class="uk-btn uk-btn-sm uk-btn-ghost uk-btn-icon" type="button" data-uk-toggle="target: #offcanvas-overlay"><uk-icon icon="ellipsis"></uk-icon></a>
        </span>
      </div>
      
      
      <div id="modal-sections" data-uk-modal>
        <div class="uk-modal-dialog">
          <button
            class="uk-modal-close absolute right-4 top-4"
            type="button"
            data-uk-close
          ></button>
          <div class="uk-modal-header">
            <h2 class="uk-modal-title">About</h2>
          </div>
          <div class="uk-modal-body">
            <p>
              This app is currently under development.
            </p>
            <p>
              Langly © Partha Ghosh
            </p>
          </div>
        </div>
      </div>

      <div id="offcanvas-overlay" data-uk-offcanvas="overlay: true; flip: true">
        <div class="uk-offcanvas-bar">
      
          <div class="uk-container uk-container-xs mt-4">

            <button
              class="uk-offcanvas-close absolute right-4 top-4"
              type="button"
              data-uk-close
            ></button>
      
            <h3 class="uk-h3">Settings</h3>

            <uk-theme-switcher id="theme-switcher">
              <select hidden>
                <optgroup data-key="theme" label="Theme">
                  <option data-hex="#52525b" value="uk-theme-zinc">Zinc</option>
                  <option data-hex="#64748b" value="uk-theme-slate">Slate</option>
                  <option data-hex="#78716c" value="uk-theme-stone">Stone</option>
                  <option data-hex="#6b7280" value="uk-theme-gray">Gray</option>
                  <option data-hex="#737373" value="uk-theme-neutral" selected>
                    Neutral
                  </option>
                  <option data-hex="#dc2626" value="uk-theme-red">Red</option>
                  <option data-hex="#e11d48" value="uk-theme-rose">Rose</option>
                  <option data-hex="#f97316" value="uk-theme-orange">Orange</option>
                  <option data-hex="#65a30d" value="uk-theme-green">Green</option>
                  <option data-hex="#2563eb" value="uk-theme-blue">Blue</option>
                  <option data-hex="#facc15" value="uk-theme-yellow">Yellow</option>
                  <option data-hex="#7c3aed" value="uk-theme-violet">Violet</option>
                </optgroup>
                <optgroup data-key="font" label="Font">
                  <option value="uk-font-sm" selected>Small</option>
                  <option value="uk-font-base">Default</option>
                </optgroup>
                <optgroup data-key="mode" label="Mode">
                  <option data-icon="sun" value="light" selected>Light</option>
                  <option data-icon="moon" value="dark">Dark</option>
                </optgroup>
              </select>
            </uk-theme-switcher>
            
            <div class="mt-4">
              <label class="uk-form-label">DeepL API</label>
              <div class="flex gap-2">
                <div class="grow">
                  <input
                    id="deeplApiKey"
                    class="uk-input"
                    type="text"
                    placeholder="DeepL API Key"
                    aria-label="Custom controls"
                  />
                </div>
                <div class="flex-none">
                  <button class="uk-btn uk-btn-default" onclick="socket.emit('exec_py', {fn: 'save_deepl_api_key', args: [document.getElementById('deeplApiKey').value]})">Save</button>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <hr class="uk-hr" />
    </div>


    <div class="uk-container uk-container-xs">
      <div class="grid grid-cols-2 gap-3 py-3">
        <div id="known-lang-container">
        </div>

        <div id="unknown-lang-container">
        </div>
      </div>

      <!-- Tabs -->
      <ul class="uk-tab-alt uk-margin" data-uk-switcher="animation: uk-anmt-fade">
        <li class="uk-active">
          <a ><uk-icon icon="graduation-cap" class="pe-1"></uk-icon> Learn</a>
        </li>
        <li>
          <a  onclick="socket.emit('exec_py', {fn: 'calc_dues', args: []});"><uk-icon icon="brain" class="pe-1"></uk-icon>Recall</a>
        </li>
        <li>
          <a  onclick="socket.emit('exec_py', {fn: 'update_vocab_list', args: ['']});"><uk-icon icon="book-a" class="pe-1"></uk-icon>Vocabulary</a>
        </li>
      </ul>

      <ul class="uk-switcher mt-3">
        <!-- Learn tab -->
        <li>
          <textarea id="learnInput" class="uk-textarea" rows="4" placeholder="Type your phrase..."></textarea>
          <div class="flex justify-center py-3">
            <a id="learnSubmit" class="uk-btn uk-btn-default"  onclick="socket.emit('exec_py', {fn: 'process_text', args: [document.getElementById('learnInput').value]})">Submit</a>
          </div>

          <div id="learn-container" class="grid gap-y-3">
          </div>
        </li>

        <!-- Recall tab -->
        <li>
          <div class="uk-card uk-card-default uk-card-body my-3 text-center"><span id="question"></span></div>
          <div id="showAnswer" class="flex justify-center py-3">
            <a class="uk-btn uk-btn-default" type="button"  data-uk-toggle="target: .toggle-usage; animation: uk-anmt-fade">Show Answer</a>
          </div>
          <div class="uk-card uk-card-default uk-card-body my-3 text-center toggle-usage" id="fake-answer-container">...</div>
          <div class="uk-card uk-card-default uk-card-body my-3 text-center toggle-usage" id="answer-container" hidden><span id="answer"></span></div>
          <div class="flex justify-center gap-3 py-3">
            <a class="uk-btn uk-btn-secondary"  onclick="document.getElementById('answer-container').setAttribute('hidden', '');document.getElementById('examples-container').setAttribute('hidden', '');document.getElementById('fake-answer-container').removeAttribute('hidden'); socket.emit('exec_py', {fn: 'update_spaced_repetition', args: ['easy']});" >Easy</a>
            <a class="uk-btn uk-btn-primary"  onclick="document.getElementById('answer-container').setAttribute('hidden', '');document.getElementById('examples-container').setAttribute('hidden', '');document.getElementById('fake-answer-container').removeAttribute('hidden'); socket.emit('exec_py', {fn: 'update_spaced_repetition', args: ['medium']});">Medium</a>
            <a class="uk-btn uk-btn-destructive"  onclick="document.getElementById('answer-container').setAttribute('hidden', '');document.getElementById('examples-container').setAttribute('hidden', '');document.getElementById('fake-answer-container').removeAttribute('hidden'); socket.emit('exec_py', {fn: 'update_spaced_repetition', args: ['hard']});" >Hard</a>
          </div>

          <div class="toggle-usage" id="examples-container" hidden>
            <div class="py-3">
              <h3 class="uk-card-title mb-1">Examples</h3>
              <hr class="uk-hr" />
            </div>

            <ul class="uk-list uk-list-divider" id="examples">
            </ul>
          </div>
        </li>

        <!-- Vocabulary tab -->
        <li>
          <input class="uk-input mb-3" type="text" placeholder="Search" aria-label="Search" onkeyup="socket.emit('exec_py', {fn: 'update_vocab_list', args: [this.value]});" />
          <div class="space-y-2" id="search_results">
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
